
- if user_signed_in? # 用户是否已登录？
	= "您已成功登录"
	- user = current_user
	%div
		%p 
			欢迎你: 
			- if user.email
				= user.email
			- if user.phone
				= user.phone
		-# = current_user.inspect
	= link_to "退出登录", user_logout_path
- else
	= "未登录"
	= link_to "登录", user_path